body{
  overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.snap-header{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/images/buisness.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.snap-box{
    width: 90%;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    position: absolute;
}
.snap-box h1{
    font-size: 60px;
}
.snap-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.snap-about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.snap-h{
    font-size: 36px;
    font-weight: 600;
}
.snap-p{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 15px;
    border: 1px solid #ffd65c;
    border-radius: 10px;
}
.grown_bg{
    background: url(/images/grown_bg.jpg);
    padding: 30px 0;
    min-height: 50vh;
}
.grown_bg h1{
        color: white;
}
.full-float{
    width: 100%;
    float: left;
}
#snap-chart{
    margin-top: 180px;
    text-align: center;
}
#snap .round-snap{
    min-height: 255px;
    margin-top: 30px;
    position: relative;
    margin-bottom: 20px;
}
#snap .round-snap strong{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%);
    color: #212121;
    font-weight: 100;
}
#snap .round-snap span{
    display: block;
    color: #999;
    font-size: 17px;
    margin-top: 10px;
}
.snap-container {
    background: #0d0c2d;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 240px;
    margin: auto 0;
    box-shadow: -5px -5px 8px rgba(94, 104, 121, 0.288),
                4px 4px 6px rgba(94, 104, 121, 0.288);
                justify-content: center;
                
                
  }
  .snap-container .box {
    width: 100%;
  }
  
  .snap-container .box h2 {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }
  .snap-container .box p {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  .snap-container .box .chart {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 160px;
    height: 160px;
    color: #fff;
  }
  .snap-container .box canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
  }


  .half-half-image-text {
    padding: 70px 0px;
    
}
.half-half-image-text h1 {
    color: #043A5B;

}
.half-half-image-text .content {
    height: 100%;
    display: flex;
    align-items: center;
    
}
.half-half-image-text .content p {
    font-size: 20px;
}

.snap-geeks {
    width:60%;
    height:300px;
}
.linedraw {
    width:220%;
    height:200%;
}

@media(max-width: 700px) {
    .snap-box h1{
        font-size: 20px;
    }
}
@media (min-width: 420px) and (max-width: 659px) {
    .snap-container {
      grid-template-columns: repeat(2, 160px);
    }
  }
  
  @media (min-width: 660px) {
    .snap-container {
      grid-template-columns: repeat(3, 160px);
    }
  }
  @media (max-width:700px) {
    .linedraw {
        width:180%;
        height:150%;
    }
        .snap-geeks {
            width:60%;
            height:300px;
        }
    
  }
  i {
    font-size: 3em !important;
    margin-top: 10%;
    color: #c6252b;
  }
  .counter-snap{
    /* margin-top: 300px; */
    text-align: center;
    min-height: 40vh;
    background: rgba(64, 224, 208, 0.089);
  }
  .container-snapp{
    height: 700px;
  }
  .counter-h{
      padding-top: 25rem!important ;
  }
  .download-broucher{
   
      min-height: 50vh;
      background: rgba(37, 34, 35, 0.075);
  }
 
  .broucher {
    width:70%;
    height:300px;
}
.b-snap {
    width:150%;
    height:120%;
}
.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  margin-left: 20rem;
	background-color: #c6252b;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}
