
.banner{
    /* height: 70vh; */
    background: url("https://image.freepik.com/free-vector/stylish-white-background-with-diagonal-lines_1017-33199.jpg");
    background-size: cover;
    
    padding: 0px !important;
    padding-top: 58px !important;
    

}
@font-face {
  font-family: 'helvetica_ce_55_romanregular';
  src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot');
  src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica_neue_ce_55_roman-webfont.woff2') format('woff2'), url('../fonts/helvetica_neue_ce_55_roman-webfont.woff') format('woff'), url('../fonts/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype'), url('../fonts/helvetica_neue_ce_55_roman-webfont.svg#helvetica_ce_55_romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
 }
/* html{
  overflow-x: hidden;
} */
.body{
  /*  */
  
  overflow-x: hidden !important;

}
.csr-des-head{
  margin-top: 10px;

}
.head-banner-text-1{
    color: black;
    margin-top: 100px;
    /* font-size: 45px;
    font-weight: 800;
    /* line-height: 44px; */
    */
}
.head-banner-text-2{
    color: black;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 20px;
}
.head-banner-text-3{
    color: black;
    font-family: 'Yantramanav', sans-serif;

}
.banner-head-1-img{
    margin-top: 28px;
    width: 100%;
    
}
.banner-head-img{
    text-align: center;
}
.csr-beyond {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .csr-beyond__image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    background-image: url("/aboutus/images/aerial-view-business-team.jpg");
    background-size: cover;
    transition: ease-in-out 0.3s;
    z-index: 2;
  }
  .csr-beyond__image:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;

    margin: auto;
    background: inherit;
    background-position: bottom;
    filter: blur(40px) saturate(0%);
    transform: scaleX(0.4);
    transition: ease-in-out 0.4s;
    border-radius: 120px;
    transform-origin: right;
    opacity: 0;
    z-index: -1;
  }
  .csr-beyond__image .csr-beyond__info {
    position: relative;
    line-height: 1.8;
    transition: ease-in-out 0.3s;
    opacity: 0;

  }
  .csr-beyond__image .csr-beyond__location {
    transition-delay: 0.15s;
  }
  .csr-beyond__image:hover {
    border-radius: 0;
    width: 700px;
    height: 350px;
    border-radius: 10px;

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
  }
  .csr-beyond__image:hover:before {
    width: 100%;
    /* opacity: 0.18; */
    /* filter: blur(10px) saturate(100%); */
    transform: scale(2.8) translate3d(-18%, 0px, 0px);
  }
  .csr-beyond__image:hover .csr-beyond__info {
    transform: translate3d(101%, 0px, 0px);
    opacity: 1;
    width: 645px;
    padding-left: 56px;
    

  }
  
  .link {
    border-bottom: 1px solid transparent;
    color: #06C0A8;
    text-decoration: none;
    transition: ease-in 0.13s;
  }
  .link:hover {
    background-color: #06C0A8;
    color: #ffffff;
  }
  .csr-head{
      margin-top: 25px;
      margin-bottom: 25px;
  }
.csr-beyond-1 {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .csr-beyond__image-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    background-image: url("/aboutus/images/aerial-view-business-team.jpg");
    background-size: cover;
    transition: ease-in-out 0.3s;
    z-index: 2;
  }
  .csr-beyond__image-1:before {
    content: " ";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;

    bottom: 0;
    left: 0;
    margin: auto;
    background: inherit;
    background-position: bottom;
    filter: blur(40px) saturate(0%);
    transform: scaleX(0.4);
    transition: ease-in-out 0.4s;
    border-radius: 120px;
    transform-origin: right;
    opacity: 0;
    z-index: -1;
  }
  .csr-beyond__image-1 .csr-beyond__info-1 {
    position: relative;
    line-height: 1.8;
    transition: ease-in-out 0.3s;
    opacity: 0;
    width: 700px;
    padding-right: 137px;
    
  }
  .csr-beyond__image-1 .csr-beyond__location-1 {
    transition-delay: 0.15s;
  }
  .csr-beyond__image-1:hover {
    border-radius: 0;
    width: 700px;
    height: 350px;
    border-radius: 10px;

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
  }
  .csr-beyond__image-1:hover:before {
    width: 100%;
    /* opacity: 0.18; */
    /* filter: blur(10px) saturate(100%); */
    transform: scale(2.8) translate3d(-18%, 0px, 0px);
  }
  .csr-beyond__image-1:hover .csr-beyond__info-1 {
    transform: translate3d(-85%, 0px, 0px);
    opacity: 1;
  }
  
  .link-1 {
    border-bottom: 1px solid transparent;
    color: #06C0A8;
    text-decoration: none;
    transition: ease-in 0.13s;
  }
  .link-1:hover {
    background-color: #06C0A8;
    color: #ffffff;
  }
  /* .csr-head-1{
      height: 60vh;
  } */
  .mobile-csr-head{
    display: none;
      }
      .slider-csr-heading{
          /* margin-top: 40px; */
          
          font-weight: 700;
          font-size: 25px;
          color: #043A5B;
      }
      .slider-csr-heading-text{
    font-family: 'Yantramanav', sans-serif;
        margin-top: 10px;
        color: black;
    font-size: 18px;
    margin-bottom: 40px ;
    
    line-height: 2;

      }
      .slider-csr{
        padding: 2px;
        
      }
      #fifty-fifty-slider-stack-id {
        border-radius: 10px;
        /* max-width: 800px; */
        min-height: 450px;
        padding: 0;
        display: flex;
        margin: 50px auto;
        overflow: hidden;
        list-style: none;
        position: relative;
        align-items: stretch;
        font-family: "Nunito";
        transition: all 0s ease-in-out;
      }
      
      #fifty-fifty-slider-stack-id .ffs-slide {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        bottom: auto;
        display: flex;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        transform: all 0.3s ease-in-out;
      }
      #fifty-fifty-slider-stack-id .ffs-slide.active .ffs-slide-content {
        transform: translateX(0%);
      }
      #fifty-fifty-slider-stack-id .ffs-slide.active .ffs-slide-image {
        transform: translateX(0%);
      }
      #fifty-fifty-slider-stack-id .ffs-slide-content, #fifty-fifty-slider-stack-id .ffs-slide-image {
        width: 50%;
        flex: 0 1 auto;
        position: relative;
        pointer-events: auto;
        box-sizing: border-box;
      }
      #fifty-fifty-slider-stack-id .ffs-slide-content {
        z-index: 2;
        display: flex;
        position: relative;
        padding-bottom: 50px;
        transform: translateX(200%);
        transition: transform 0.6s 0s ease-in-out;
        flex-direction: column;
        justify-content: center;
      }
      #fifty-fifty-slider-stack-id .ffs-slide-content-inner {
        padding: 20px 25px;
        box-sizing: border-box;
      }
      #fifty-fifty-slider-stack-id .ffs-slide-content .ffs-slide-title {
        color: white;
        font-size: 30px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      #fifty-fifty-slider-stack-id .ffs-slide-content .ffs-slide-text p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        line-height: 22.4px;
        margin-top: 20px;
      }
      #fifty-fifty-slider-stack-id .ffs-slide-content .ffs-slide-action {
        color: white;
        font-size: 16px;
        padding: 7px 20px;
        border: 2px solid;
        background: none;
        border-radius: 30px;
        border-color: rgba(255, 255, 255, 0.2);
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      #fifty-fifty-slider-stack-id .ffs-slide-content .ffs-slide-action:hover {
        color: white;
        background: none;
        border-color: white;
      }
      #fifty-fifty-slider-stack-id .ffs-slide-image {
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0s 0.3s ease-in-out;
      }
      
      #fifty-fifty-slider-stack-id .ffs-nav {
        left: 0;
        bottom: 0;
        width: 50%;
        z-index: 10;
        color: white;
        display: flex;
        padding: 10px 20px;
        position: absolute;
        align-items: center;
        box-sizing: border-box;
        justify-content: flex-end;
      }
      #fifty-fifty-slider-stack-id .ffs-nav-count {
        font-size: 14px;
        margin-right: auto;
      }
      #fifty-fifty-slider-stack-id .ffs-nav a {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid white;
        opacity: 0.5;
        display: flex;
        color: inherit;
        line-height: 0;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transform: translateY(0%);
        transition: all 0.3s ease-in-out;
      }
      #fifty-fifty-slider-stack-id .ffs-nav a i {
        line-height: 0;
        font-size: 20px;
      }
      #fifty-fifty-slider-stack-id .ffs-nav a:hover {
        opacity: 1;
      }
      #fifty-fifty-slider-stack-id .ffs-nav a:first-of-type {
        margin-right: 10px;
      }
      #fifty-fifty-slider-stack-id.slide-end .ffs-nav a.next {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      #fifty-fifty-slider-stack-id.slide-start .ffs-nav a.prev {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      
      #fifty-fifty-slider-stack-id.height-set .ffs-slide {
        bottom: 0;
      }
      #fifty-fifty-slider-stack-id.hide-titles .ffs-slide-title {
        display: none;
      }
      #fifty-fifty-slider-stack-id.hide-text .ffs-slide-text {
        display: none;
      }
      #fifty-fifty-slider-stack-id.hide-actions .ffs-slide-action {
        display: none;
      }
      #fifty-fifty-slider-stack-id.content-top .ffs-slide-content {
        justify-content: flex-start;
      }
      #fifty-fifty-slider-stack-id.content-center {
        justify-content: center;
      }
      #fifty-fifty-slider-stack-id.content-bottom {
        justify-content: flex-end;
      }
      
      #fifty-fifty-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-content {
        background: #212121;
      }
      #fifty-fifty-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-image {
        background: url(https://images.unsplash.com/photo-1522205393480-69ac15dafb07?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1cdd41f80a21709d55bc35ec17415275&auto=format&fit=crop&w=750&q=80) no-repeat center center;
        background-size: cover;
      }
      #fifty-fifty-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-content {
        background: #212121;
      }
      #fifty-fifty-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-image {
        background: url(https://images.unsplash.com/photo-1501484311399-ed1e8632445d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=347e5f45d9bc400b9fa37dc99d078f9b&auto=format&fit=crop&w=1050&q=80) no-repeat center center;
        background-size: cover;
      }
      #fifty-fifty-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-content {
        background: #212121;
      }
      #fifty-fifty-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-image {
        background: url(https://images.unsplash.com/photo-1499792914147-5e4c9a4a9684?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=161799cf6c9503ea10fbdb38afd88dca&auto=format&fit=crop&w=661&q=80) no-repeat center center;
        background-size: cover;
      }
      
      
      @media (max-width: 500px) {
        #fifty-fifty-slider-stack-id {
          min-height: 450px;
        }
        #fifty-fifty-slider-stack-id .ffs-nav {
          width: 100%;
        }
        #fifty-fifty-slider-stack-id .ffs-slide {
          width: 100%;
          flex: 1 0 auto;
          flex-direction: column-reverse;
        }
        #fifty-fifty-slider-stack-id .ffs-slide-content {
          width: 100%;
          flex: 1 0 auto;
          transform: translateX(100%);
        }
        #fifty-fifty-slider-stack-id .ffs-slide-image {
          width: 100%;
          height: 300px;
          flex: 0 1 auto;
          transform: translateX(100%);
          transition: transform 0.6s 0s ease-in-out;
        }
        #fifty-fifty-slider-stack-id.mobile-nav-top .ffs-slide-content {
          padding-bottom: 0;
          padding-top: 50px;
        }
        #fifty-fifty-slider-stack-id.mobile-nav-top .ffs-nav {
          top: 300px;
          bottom: auto;
        }
        #fifty-fifty-slider-stack-id.mobile-nav-top.slide-start .ffs-nav a.prev {
          transform: translateY(-100%);
        }
        #fifty-fifty-slider-stack-id.mobile-nav-top.slide-end .ffs-nav a.next {
          transform: translateY(-100%);
        }
      }
      
      
      
      #sixty-sixty-slider-stack-id {
        border-radius: 10px;
        /* max-width: 800px; */
        min-height: 450px;
        padding: 0;
        display: flex;
        margin: 50px auto;
        overflow: hidden;
        list-style: none;
        position: relative;
        align-items: stretch;
        font-family: "Nunito";
        transition: all 0s ease-in-out;
      }
      
      #sixty-sixty-slider-stack-id .ffs-slide {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        bottom: auto;
        display: flex;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        transform: all 0.3s ease-in-out;
      }
      #sixty-sixty-slider-stack-id .ffs-slide.active .ffs-slide-content {
        transform: translateX(0%);
      }
      #sixty-sixty-slider-stack-id .ffs-slide.active .ffs-slide-imagenew {
        transform: translateX(0%);
      }
      #sixty-sixty-slider-stack-id .ffs-slide-content, #sixty-sixty-slider-stack-id .ffs-slide-imagenew {
        width: 50%;
        flex: 0 1 auto;
        position: relative;
        pointer-events: auto;
        box-sizing: border-box;
      }
      #sixty-sixty-slider-stack-id .ffs-slide-content {
        z-index: 2;
        display: flex;
        position: relative;
        padding-bottom: 50px;
        transform: translateX(-200%);
        transition: transform 0.6s 0s ease-in-out;
        flex-direction: column;
        justify-content: center;
      }
      #sixty-sixty-slider-stack-id .ffs-slide-content-inner {
        padding: 20px 25px;
        box-sizing: border-box;
      }
      #sixty-sixty-slider-stack-id .ffs-slide-content .ffs-slide-title {
        color: white;
        font-size: 30px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      #sixty-sixty-slider-stack-id .ffs-slide-content .ffs-slide-text p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        line-height: 22.4px;
        margin-top: 20px;
      }
      #sixty-sixty-slider-stack-id .ffs-slide-content .ffs-slide-action {
        color: white;
        font-size: 16px;
        padding: 7px 20px;
        border: 2px solid;
        background: none;
        border-radius: 30px;
        border-color: rgba(255, 255, 255, 0.2);
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      #sixty-sixty-slider-stack-id .ffs-slide-content .ffs-slide-action:hover {
        color: white;
        background: none;
        border-color: white;
      }
      #sixty-sixty-slider-stack-id .ffs-slide-imagenew {
        z-index: 1;
        transform: translateY(200%);
        transition: transform 0s 0.3s ease-in-out;
      }
      
      #sixty-sixty-slider-stack-id .ffs-nav {
        left: 0;
        bottom: 0;
        width: 50%;
        z-index: 10;
        color: white;
        display: flex;
        padding: 10px 20px;
        position: absolute;
        align-items: center;
        box-sizing: border-box;
        justify-content: flex-end;
      }
      #sixty-sixty-slider-stack-id .ffs-nav-count {
        font-size: 14px;
        margin-right: auto;
      }
      #sixty-sixty-slider-stack-id .ffs-nav a {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid white;
        opacity: 0.5;
        display: flex;
        color: inherit;
        line-height: 0;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transform: translateY(0%);
        transition: all 0.3s ease-in-out;
      }
      #sixty-sixty-slider-stack-id .ffs-nav a i {
        line-height: 0;
        font-size: 20px;
      }
      #sixty-sixty-slider-stack-id .ffs-nav a:hover {
        opacity: 1;
      }
      #sixty-sixty-slider-stack-id .ffs-nav a:first-of-type {
        margin-right: 10px;
      }
      #sixty-sixty-slider-stack-id.slide-end .ffs-nav a.next {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      #sixty-sixty-slider-stack-id.slide-start .ffs-nav a.prev {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      
      #sixty-sixty-slider-stack-id.height-set .ffs-slide {
        bottom: 0;
      }
      #sixty-sixty-slider-stack-id.hide-titles .ffs-slide-title {
        display: none;
      }
      #sixty-sixty-slider-stack-id.hide-text .ffs-slide-text {
        display: none;
      }
      #sixty-sixty-slider-stack-id.hide-actions .ffs-slide-action {
        display: none;
      }
      #sixty-sixty-slider-stack-id.content-top .ffs-slide-content {
        justify-content: flex-start;
      }
      #sixty-sixty-slider-stack-id.content-center {
        justify-content: center;
      }
      #sixty-sixty-slider-stack-id.content-bottom {
        justify-content: flex-end;
      }
      
      #sixty-sixty-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-content {
        background: #212121;
      }
      #sixty-sixty-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-imagenew {
        background: url(https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center;
        background-size: cover;
      }
      #sixty-sixty-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-content {
        background: #212121;
      }
      #sixty-sixty-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-imagenew {
        background: url(https://images.unsplash.com/photo-1501484311399-ed1e8632445d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=347e5f45d9bc400b9fa37dc99d078f9b&auto=format&fit=crop&w=1050&q=80) no-repeat center center;
        background-size: cover;
      }
      #sixty-sixty-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-content {
        background: #212121;
      }
      #sixty-sixty-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-imagenew {
        background: url(https://images.unsplash.com/photo-1499792914147-5e4c9a4a9684?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=161799cf6c9503ea10fbdb38afd88dca&auto=format&fit=crop&w=661&q=80) no-repeat center center;
        background-size: cover;
      }
      
      
      
      @media (max-width: 500px) {
        #sixty-sixty-slider-stack-id {
          min-height: 450px;
        }
        #sixty-sixty-slider-stack-id .ffs-nav {
          width: 100%;
        }
        #sixty-sixty-slider-stack-id .ffs-slide {
          width: 100%;
          flex: 1 0 auto;
          flex-direction: column-reverse;
        }
        #sixty-sixty-slider-stack-id .ffs-slide-content {
          width: 100%;
          flex: 1 0 auto;
          transform: translateX(100%);
        }
        #sixty-sixty-slider-stack-id .ffs-slide-imagenew {
          width: 100%;
          height: 300px;
          flex: 0 1 auto;
          transform: translateX(100%);
          transition: transform 0.6s 0s ease-in-out;
        }
        #sixty-sixty-slider-stack-id.mobile-nav-top .ffs-slide-content {
          padding-bottom: 0;
          padding-top: 50px;
        }
        #sixty-sixty-slider-stack-id.mobile-nav-top .ffs-nav {
          top: 300px;
          bottom: auto;
        }
        #sixty-sixty-slider-stack-id.mobile-nav-top.slide-start .ffs-nav a.prev {
          transform: translateY(-100%);
        }
        #sixty-sixty-slider-stack-id.mobile-nav-top.slide-end .ffs-nav a.next {
          transform: translateY(-100%);
        }
      }
      
      
      
      #seventy-seventy-slider-stack-id {
        border-radius: 10px;
        /* max-width: 800px; */
        min-height: 450px;
        padding: 0;
        display: flex;
        margin: 50px auto;
        overflow: hidden;
        list-style: none;
        position: relative;
        align-items: stretch;
        font-family: "Nunito";
        transition: all 0s ease-in-out;
      }
      
      #seventy-seventy-slider-stack-id .ffs-slide {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        bottom: auto;
        display: flex;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        transform: all 0.3s ease-in-out;
      }
      #seventy-seventy-slider-stack-id .ffs-slide.active .ffs-slide-content {
        transform: translateX(0%);
      }
      #seventy-seventy-slider-stack-id .ffs-slide.active .ffs-slide-imagenew1 {
        transform: translateX(0%);
      }
      #seventy-seventy-slider-stack-id .ffs-slide-content, #seventy-seventy-slider-stack-id .ffs-slide-imagenew1 {
        width: 50%;
        flex: 0 1 auto;
        position: relative;
        pointer-events: auto;
        box-sizing: border-box;
      }
      #seventy-seventy-slider-stack-id .ffs-slide-content {
        z-index: 2;
        display: flex;
        position: relative;
        padding-bottom: 50px;
        transform: translateX(200%);
        transition: transform 0.6s 0s ease-in-out;
        flex-direction: column;
        justify-content: center;
      }
      #seventy-seventy-slider-stack-id .ffs-slide-content-inner {
        padding: 20px 25px;
        box-sizing: border-box;
      }
      #seventy-seventy-slider-stack-id .ffs-slide-content .ffs-slide-title {
        color: white;
        font-size: 30px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      #seventy-seventy-slider-stack-id .ffs-slide-content .ffs-slide-text p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        line-height: 22.4px;
        margin-top: 20px;
      }
      #seventy-seventy-slider-stack-id .ffs-slide-content .ffs-slide-action {
        color: white;
        font-size: 16px;
        padding: 7px 20px;
        border: 2px solid;
        background: none;
        border-radius: 30px;
        border-color: rgba(255, 255, 255, 0.2);
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      #seventy-seventy-slider-stack-id .ffs-slide-content .ffs-slide-action:hover {
        color: white;
        background: none;
        border-color: white;
      }
      #seventy-seventy-slider-stack-id .ffs-slide-imagenew1 {
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0s 0.3s ease-in-out;
      }
      
      #seventy-seventy-slider-stack-id .ffs-nav {
        left: 0;
        bottom: 0;
        width: 50%;
        z-index: 10;
        color: white;
        display: flex;
        padding: 10px 20px;
        position: absolute;
        align-items: center;
        box-sizing: border-box;
        justify-content: flex-end;
      }
      #seventy-seventy-slider-stack-id .ffs-nav-count {
        font-size: 14px;
        margin-right: auto;
      }
      #seventy-seventy-slider-stack-id .ffs-nav a {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid white;
        opacity: 0.5;
        display: flex;
        color: inherit;
        line-height: 0;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transform: translateY(0%);
        transition: all 0.3s ease-in-out;
      }
      #seventy-seventy-slider-stack-id .ffs-nav a i {
        line-height: 0;
        font-size: 20px;
      }
      #seventy-seventy-slider-stack-id .ffs-nav a:hover {
        opacity: 1;
      }
      #seventy-seventy-slider-stack-id .ffs-nav a:first-of-type {
        margin-right: 10px;
      }
      #seventy-seventy-slider-stack-id.slide-end .ffs-nav a.next {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      #seventy-seventy-slider-stack-id.slide-start .ffs-nav a.prev {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      
      #seventy-seventy-slider-stack-id.height-set .ffs-slide {
        bottom: 0;
      }
      #seventy-seventy-slider-stack-id.hide-titles .ffs-slide-title {
        display: none;
      }
      #seventy-seventy-slider-stack-id.hide-text .ffs-slide-text {
        display: none;
      }
      #seventy-seventy-slider-stack-id.hide-actions .ffs-slide-action {
        display: none;
      }
      #seventy-seventy-slider-stack-id.content-top .ffs-slide-content {
        justify-content: flex-start;
      }
      #seventy-seventy-slider-stack-id.content-center {
        justify-content: center;
      }
      #seventy-seventy-slider-stack-id.content-bottom {
        justify-content: flex-end;
      }
      
      #seventy-seventy-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-content {
        background: #212121;
      }
      #seventy-seventy-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-imagenew1 {
        background: url(https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center;
        background-size: cover;
      }
      #seventy-seventy-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-content {
        background: #212121;
      }
      #seventy-seventy-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-imagenew1 {
        background: url(https://images.unsplash.com/photo-1501484311399-ed1e8632445d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=347e5f45d9bc400b9fa37dc99d078f9b&auto=format&fit=crop&w=1050&q=80) no-repeat center center;
        background-size: cover;
      }
      #seventy-seventy-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-content {
        background: #212121;
      }
      #seventy-seventy-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-imagenew1 {
        background: url(https://images.unsplash.com/photo-1499792914147-5e4c9a4a9684?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=161799cf6c9503ea10fbdb38afd88dca&auto=format&fit=crop&w=661&q=80) no-repeat center center;
        background-size: cover;
      }
      
      
      
      @media (max-width: 500px) {
        #seventy-seventy-slider-stack-id {
          min-height: 450px;
        }
        #seventy-seventy-slider-stack-id .ffs-nav {
          width: 100%;
        }
        #seventy-seventy-slider-stack-id .ffs-slide {
          width: 100%;
          flex: 1 0 auto;
          flex-direction: column-reverse;
        }
        #seventy-seventy-slider-stack-id .ffs-slide-content {
          width: 100%;
          flex: 1 0 auto;
          transform: translateX(100%);
        }
        #seventy-seventy-slider-stack-id .ffs-slide-imagenew1 {
          width: 100%;
          height: 300px;
          flex: 0 1 auto;
          transform: translateX(100%);
          transition: transform 0.6s 0s ease-in-out;
        }
        #seventy-seventy-slider-stack-id.mobile-nav-top .ffs-slide-content {
          padding-bottom: 0;
          padding-top: 50px;
        }
        #seventy-seventy-slider-stack-id.mobile-nav-top .ffs-nav {
          top: 300px;
          bottom: auto;
        }
        #seventy-seventy-slider-stack-id.mobile-nav-top.slide-start .ffs-nav a.prev {
          transform: translateY(-100%);
        }
        #seventy-seventy-slider-stack-id.mobile-nav-top.slide-end .ffs-nav a.next {
          transform: translateY(-100%);
        }
      }
      
      
      
      
      
      #eighty-eighty-slider-stack-id {
        border-radius: 10px;
        /* max-width: 800px; */
        min-height: 450px;
        padding: 0;
        display: flex;
        margin: 50px auto;
        overflow: hidden;
        list-style: none;
        position: relative;
        align-items: stretch;
        font-family: "Nunito";
        transition: all 0s ease-in-out;
      }
      
      #eighty-eighty-slider-stack-id .ffs-slide {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        bottom: auto;
        display: flex;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        transform: all 0.3s ease-in-out;
      }
      #eighty-eighty-slider-stack-id .ffs-slide.active .ffs-slide-content {
        transform: translateX(0%);
      }
      #eighty-eighty-slider-stack-id .ffs-slide.active .ffs-slide-imagenew2 {
        transform: translateX(0%);
      }
      #eighty-eighty-slider-stack-id .ffs-slide-content, #eighty-eighty-slider-stack-id .ffs-slide-imagenew2 {
        width: 50%;
        flex: 0 1 auto;
        position: relative;
        pointer-events: auto;
        box-sizing: border-box;
      }
      #eighty-eighty-slider-stack-id .ffs-slide-content {
        z-index: 2;
        display: flex;
        position: relative;
        padding-bottom: 50px;
        transform: translateX(-200%);
        transition: transform 0.6s 0s ease-in-out;
        flex-direction: column;
        justify-content: center;
      }
      #eighty-eighty-slider-stack-id .ffs-slide-content-inner {
        padding: 20px 25px;
        box-sizing: border-box;
      }
      #eighty-eighty-slider-stack-id .ffs-slide-content .ffs-slide-title {
        color: white;
        font-size: 30px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      #eighty-eighty-slider-stack-id .ffs-slide-content .ffs-slide-text p {
        font-family: 'Yantramanav', sans-serif;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        line-height: 22.4px;
        margin-top: 20px;
      }
      #eighty-eighty-slider-stack-id .ffs-slide-content .ffs-slide-action {
        color: white;
        font-size: 16px;
        padding: 7px 20px;
        border: 2px solid;
        background: none;
        border-radius: 30px;
        border-color: rgba(255, 255, 255, 0.2);
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      #eighty-eighty-slider-stack-id .ffs-slide-content .ffs-slide-action:hover {
        color: white;
        background: none;
        border-color: white;
      }
      #eighty-eighty-slider-stack-id .ffs-slide-imagenew2 {
        z-index: 1;
        transform: translateY(200%);
        transition: transform 0s 0.3s ease-in-out;
      }
      
      #eighty-eighty-slider-stack-id .ffs-nav {
        left: 0;
        bottom: 0;
        width: 50%;
        z-index: 10;
        color: white;
        display: flex;
        padding: 10px 20px;
        position: absolute;
        align-items: center;
        box-sizing: border-box;
        justify-content: flex-end;
      }
      #eighty-eighty-slider-stack-id .ffs-nav-count {
        font-size: 14px;
        margin-right: auto;
      }
      #eighty-eighty-slider-stack-id .ffs-nav a {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid white;
        opacity: 0.5;
        display: flex;
        color: inherit;
        line-height: 0;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transform: translateY(0%);
        transition: all 0.3s ease-in-out;
      }
      #eighty-eighty-slider-stack-id .ffs-nav a i {
        line-height: 0;
        font-size: 20px;
      }
      #eighty-eighty-slider-stack-id .ffs-nav a:hover {
        opacity: 1;
      }
      #eighty-eighty-slider-stack-id .ffs-nav a:first-of-type {
        margin-right: 10px;
      }
      #eighty-eighty-slider-stack-id.slide-end .ffs-nav a.next {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      #eighty-eighty-slider-stack-id.slide-start .ffs-nav a.prev {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      
      #eighty-eighty-slider-stack-id.height-set .ffs-slide {
        bottom: 0;
      }
      #eighty-eighty-slider-stack-id.hide-titles .ffs-slide-title {
        display: none;
      }
      #eighty-eighty-slider-stack-id.hide-text .ffs-slide-text {
        display: none;
      }
      #eighty-eighty-slider-stack-id.hide-actions .ffs-slide-action {
        display: none;
      }
      #eighty-eighty-slider-stack-id.content-top .ffs-slide-content {
        justify-content: flex-start;
      }
      #eighty-eighty-slider-stack-id.content-center {
        justify-content: center;
      }
      #eighty-eighty-slider-stack-id.content-bottom {
        justify-content: flex-end;
      }
      
      #eighty-eighty-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-content {
        background: #212121;
      }
      #eighty-eighty-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-imagenew2 {
        background: url(https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center;
        background-size: cover;
      }
      #eighty-eighty-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-content {
        background: #212121;
      }
      #eighty-eighty-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-imagenew2 {
        background: url(https://images.unsplash.com/photo-1501484311399-ed1e8632445d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=347e5f45d9bc400b9fa37dc99d078f9b&auto=format&fit=crop&w=1050&q=80) no-repeat center center;
        background-size: cover;
      }
      #eighty-eighty-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-content {
        background: #212121;
      }
      #eighty-eighty-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-imagenew2 {
        background: url(https://images.unsplash.com/photo-1499792914147-5e4c9a4a9684?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=161799cf6c9503ea10fbdb38afd88dca&auto=format&fit=crop&w=661&q=80) no-repeat center center;
        background-size: cover;
      }
      
      
      
      @media (max-width: 500px) {
        #eighty-eighty-slider-stack-id {
          min-height: 450px;
        }
        #eighty-eighty-slider-stack-id .ffs-nav {
          width: 100%;
        }
        #eighty-eighty-slider-stack-id .ffs-slide {
          width: 100%;
          flex: 1 0 auto;
          flex-direction: column-reverse;
        }
        #eighty-eighty-slider-stack-id .ffs-slide-content {
          width: 100%;
          flex: 1 0 auto;
          transform: translateX(100%);
        }
        #eighty-eighty-slider-stack-id .ffs-slide-imagenew2 {
          width: 100%;
          height: 300px;
          flex: 0 1 auto;
          transform: translateX(100%);
          transition: transform 0.6s 0s ease-in-out;
        }
        #eighty-eighty-slider-stack-id.mobile-nav-top .ffs-slide-content {
          padding-bottom: 0;
          padding-top: 50px;
        }
        #eighty-eighty-slider-stack-id.mobile-nav-top .ffs-nav {
          top: 300px;
          bottom: auto;
        }
        #eighty-eighty-slider-stack-id.mobile-nav-top.slide-start .ffs-nav a.prev {
          transform: translateY(-100%);
        }
        #eighty-eighty-slider-stack-id.mobile-nav-top.slide-end .ffs-nav a.next {
          transform: translateY(-100%);
        }
      }
      
      
      
      #ninety-ninety-slider-stack-id {
        border-radius: 10px;
        /* max-width: 800px; */
        min-height: 450px;
        padding: 0;
        display: flex;
        margin: 50px auto;
        overflow: hidden;
        list-style: none;
        position: relative;
        align-items: stretch;
        font-family: "Nunito";
        transition: all 0s ease-in-out;
      }
      
      #ninety-ninety-slider-stack-id .ffs-slide {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        bottom: auto;
        display: flex;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        transform: all 0.3s ease-in-out;
      }
      #ninety-ninety-slider-stack-id .ffs-slide.active .ffs-slide-content {
        transform: translateX(0%);
      }
      #ninety-ninety-slider-stack-id .ffs-slide.active .ffs-slide-imagenew3 {
        transform: translateX(0%);
      }
      #ninety-ninety-slider-stack-id .ffs-slide-content, #ninety-ninety-slider-stack-id .ffs-slide-imagenew3 {
        width: 50%;
        flex: 0 1 auto;
        position: relative;
        pointer-events: auto;
        box-sizing: border-box;
      }
      #ninety-ninety-slider-stack-id .ffs-slide-content {
        z-index: 2;
        display: flex;
        position: relative;
        padding-bottom: 50px;
        transform: translateX(200%);
        transition: transform 0.6s 0s ease-in-out;
        flex-direction: column;
        justify-content: center;
      }
      #ninety-ninety-slider-stack-id .ffs-slide-content-inner {
        padding: 20px 25px;
        box-sizing: border-box;
      }
      #ninety-ninety-slider-stack-id .ffs-slide-content .ffs-slide-title {
        color: white;
        font-size: 30px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      #ninety-ninety-slider-stack-id .ffs-slide-content .ffs-slide-text p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        line-height: 22.4px;
        margin-top: 20px;
      }
      #ninety-ninety-slider-stack-id .ffs-slide-content .ffs-slide-action {
        color: white;
        font-size: 16px;
        padding: 7px 20px;
        border: 2px solid;
        background: none;
        border-radius: 30px;
        border-color: rgba(255, 255, 255, 0.2);
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      #ninety-ninety-slider-stack-id .ffs-slide-content .ffs-slide-action:hover {
        color: white;
        background: none;
        border-color: white;
      }
      #ninety-ninety-slider-stack-id .ffs-slide-imagenew3 {
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0s 0.3s ease-in-out;
      }
      
      #ninety-ninety-slider-stack-id .ffs-nav {
        left: 0;
        bottom: 0;
        width: 50%;
        z-index: 10;
        color: white;
        display: flex;
        padding: 10px 20px;
        position: absolute;
        align-items: center;
        box-sizing: border-box;
        justify-content: flex-end;
      }
      #ninety-ninety-slider-stack-id .ffs-nav-count {
        font-size: 14px;
        margin-right: auto;
      }
      #ninety-ninety-slider-stack-id .ffs-nav a {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid white;
        opacity: 0.5;
        display: flex;
        color: inherit;
        line-height: 0;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transform: translateY(0%);
        transition: all 0.3s ease-in-out;
      }
      #ninety-ninety-slider-stack-id .ffs-nav a i {
        line-height: 0;
        font-size: 20px;
      }
      #ninety-ninety-slider-stack-id .ffs-nav a:hover {
        opacity: 1;
      }
      #ninety-ninety-slider-stack-id .ffs-nav a:first-of-type {
        margin-right: 10px;
      }
      #ninety-ninety-slider-stack-id.slide-end .ffs-nav a.next {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      #ninety-ninety-slider-stack-id.slide-start .ffs-nav a.prev {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(100%);
      }
      
      #ninety-ninety-slider-stack-id.height-set .ffs-slide {
        bottom: 0;
      }
      #ninety-ninety-slider-stack-id.hide-titles .ffs-slide-title {
        display: none;
      }
      #ninety-ninety-slider-stack-id.hide-text .ffs-slide-text {
        display: none;
      }
      #ninety-ninety-slider-stack-id.hide-actions .ffs-slide-action {
        display: none;
      }
      #ninety-ninety-slider-stack-id.content-top .ffs-slide-content {
        justify-content: flex-start;
      }
      #ninety-ninety-slider-stack-id.content-center {
        justify-content: center;
      }
      #ninety-ninety-slider-stack-id.content-bottom {
        justify-content: flex-end;
      }
      
      #ninety-ninety-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-content {
        background: #212121;
      }
      #ninety-ninety-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-imagenew3 {
        background: url(https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center;
        background-size: cover;
      }
      #ninety-ninety-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-content {
        background: #212121;
      }
      #ninety-ninety-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-imagenew3 {
        background: url(https://images.unsplash.com/photo-1501484311399-ed1e8632445d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=347e5f45d9bc400b9fa37dc99d078f9b&auto=format&fit=crop&w=1050&q=80) no-repeat center center;
        background-size: cover;
      }
      #ninety-ninety-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-content {
        background: #212121;
      }
      #ninety-ninety-slider-stack-id .ffs-slide:nth-of-type(3) .ffs-slide-imagenew3 {
        background: url(https://images.unsplash.com/photo-1499792914147-5e4c9a4a9684?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=161799cf6c9503ea10fbdb38afd88dca&auto=format&fit=crop&w=661&q=80) no-repeat center center;
        background-size: cover;
      }
      
      
      
      @media (max-width: 500px) {
        #ninety-ninety-slider-stack-id {
          min-height: 450px;
        }
        #ninety-ninety-slider-stack-id .ffs-nav {
          width: 100%;
        }
        #ninety-ninety-slider-stack-id .ffs-slide {
          width: 100%;
          flex: 1 0 auto;
          flex-direction: column-reverse;
        }
        #ninety-ninety-slider-stack-id .ffs-slide-content {
          width: 100%;
          flex: 1 0 auto;
          transform: translateX(100%);
        }
        #ninety-ninety-slider-stack-id .ffs-slide-imagenew3 {
          width: 100%;
          height: 300px;
          flex: 0 1 auto;
          transform: translateX(100%);
          transition: transform 0.6s 0s ease-in-out;
        }
        #ninety-ninety-slider-stack-id.mobile-nav-top .ffs-slide-content {
          padding-bottom: 0;
          padding-top: 50px;
        }
        #ninety-ninety-slider-stack-id.mobile-nav-top .ffs-nav {
          top: 300px;
          bottom: auto;
        }
        #ninety-ninety-slider-stack-id.mobile-nav-top.slide-start .ffs-nav a.prev {
          transform: translateY(-100%);
        }
        #ninety-ninety-slider-stack-id.mobile-nav-top.slide-end .ffs-nav a.next {
          transform: translateY(-100%);
        }
      }
.hs {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  margin: 0 -20px;
}
.hs__header {
  display: flex;
  align-items: center;
  width: 100%;
}
.hs__headline {
  flex: 1;
text-align: center;
font-size: 25px;}
.hs__arrows {
  align-self: center;
}
.hs__arrows .arrow:before {
  content: "";
  background-color: black;
  color: black;
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;
  filter: brightness(5);
  width: 18px;
  height: 12px;
  cursor: pointer;
}
.hs__arrows .arrow.disabled:before {
  filter: brightness(2);
}
.hs__arrows .arrow.arrow-prev:before {
  transform: rotate(90deg);
  margin-right: 10px;
  color: black;
}
.hs__arrows .arrow.arrow-next:before {
  transform: rotate(-90deg);
  color: black;
}
.hs__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 990px) {
  .hs__item {
    flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}
.hs__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}
.hs__item:first-child {
  margin-left: calc(10px * 2);
}
.hs__item__description {
  z-index: 1;
  align-self: flex-start;
  margin: 10px 0;
}
.hs__item__subtitle {
  color: black;
  display: block;
}
.hs__item__image__wrapper {
  position: relative;
  width: 95%;
  height: 0%;
  padding-bottom: 100%;
  transition: transform .2s;

}
.hs__item__image__wrapper:hover {
 
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  
}
.hs__item__image {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 990px) {
  .hs__wrapper {
    overflow: hidden;
  }
}
@media (hover: none) and (pointer: coarse) {
  .hs__wrapper .hs__arrows {
    display: none;
  }
  .hs__wrapper .hs__item {
    flex: 1 0 calc(23% - 10px * 2);
  }
}
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
  .hs__wrapper .hs__item {
    flex: 1 0 calc(45% - 10px * 2);
  }
}

/* Base Styling */
.background{
  background-color: black;
  color: white;
}

.container1 {
  max-width: 990px;
  padding: calc(10px * 2);
  margin: 0 auto;
  /* background: #121212; */
  /* mix-blend-mode: invert; */
  position: relative;
}
.container1:after {
  content: "";
  width: 100vw;
  height: 100%;
  /* background: #212121; */
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}
::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}
@media only screen and (min-width: 990px) {
  .container {
    /* padding: calc(10px * 4) calc(10px * 8); */
  }
}

.description {
  max-width: 990px;
  color: #212121;
  margin: 0 auto;
  padding: calc(10px * 4);
}

ul {
  padding: 0;
  margin: 0;
}
.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  /* transform: scale(1.1); */
  width: 101%;
  /* zoom: 2 ; */
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  /* font-family: "Raleway", sans-serif; */
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}
.slider-padding {
  padding: 14px;
}
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */

/* *, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
} */

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container12{
  padding: 1em 0;
  float: left;
  width: 100%;
}
@media screen and (max-width: 640px){
  .container12{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container12{
    width: 33.33333%;
  }
}

.container12 .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1244 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  /* margin: 10px; */
  
  min-width: 480px -60px;
  max-width: 680px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #0d0d0d;
  font-size: 16px;
}
.snip1244 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.snip1244 img {
  position: relative;
  max-width: 50%;
  vertical-align: top;
}
.snip1244 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 20px 0 20px 50%;
}
.snip1244 figcaption:before,
.snip1244 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1244 figcaption:before {
  right: 0;
  top: 0;
}
.snip1244 figcaption:after {
  left: 0;
  bottom: 0;
}
.snip1244 h3,
.snip1244 p {
  line-height: 1.5em;
  padding: 0 30px;
}
.snip1244 h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.snip1244 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
.snip1244 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.snip1244:before,
.snip1244:after,
.snip1244 figcaption:before,
.snip1244 figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1244:before,
.snip1244:after {
  height: 1px;
  width: 0%;
}
.snip1244:before {
  top: 0;
  left: 0;
}
.snip1244:after {
  bottom: 0;
  right: 0;
}
.snip1244:hover figcaption,
.snip1244.hover figcaption {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.05);
}
.snip1244:hover figcaption:before,
.snip1244.hover figcaption:before,
.snip1244:hover figcaption:after,
.snip1244.hover figcaption:after {
  height: 100%;
}
.snip1244:hover:before,
.snip1244.hover:before,
.snip1244:hover:after,
.snip1244.hover:after {
  width: 100%;
}
.snip1244:hover:before,
.snip1244.hover:before,
.snip1244:hover:after,
.snip1244.hover:after,
.snip1244:hover figcaption:before,
.snip1244.hover figcaption:before,
.snip1244:hover figcaption:after,
.snip1244.hover figcaption:after {
  opacity: 0.1;
}
@media only screen and (max-width: 480px) {
  .snip1244 img {
    max-width: 100%;
  }
  .snip1244 figcaption {
    position: relative;
    padding-left: 0px;
  }
}   
/* .gallery-1{
  background-color: #333331;
} */